<a href="https://colab.research.google.com/github/laryscampark/PySpark/blob/main/dados_IF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduçao ao Pandas

In [ ]:
! pip install pyspark

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [21]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('Dados_Pixar')
    .getOrCreate()
)

In [46]:
df = spark.read.csv('/content/dados_pixar.csv', sep=';', header=True)

In [ ]:
df.printSchema()

In [47]:
df.show(5, truncate=False)

+---------------------------------+---------+---------------------+------------------------+------------------+
|filme                            |orcamento|bilheteria_eua_canada|bilheteria_outros_paises|bilheteria_mundial|
+---------------------------------+---------+---------------------+------------------------+------------------+
|Toy Story - Um Mundo de Aventuras|3,00E+07 |191796233            |181757800               |373554033         |
|Vida de Inseto                   |1,20E+08 |162798565            |200460294               |363258859         |
|Toy Story 2                      |9,00E+07 |245852179            |251522597               |497374776         |
|Monstros S. A.                   |1,15E+08 |289916256            |342400393               |632316649         |
|Procurando Nemo                  |9,40E+07 |339714978            |531300000               |871014978         |
+---------------------------------+---------+---------------------+------------------------+------------------+
only showing top 5 rows

In [ ]:
df.toPandas().isna().sum()

In [ ]:
df = df.withColumnRenamed('filme', 'Filmes')
df.show(truncate=False)

In [ ]:
df.select('Filmes', 'orcamento').show(5)

In [ ]:
df.show(15, truncate=False)

In [ ]:
df = df.withColumn('Ano de Bilheteria', lit(2023))
df.show()

In [54]:
df.show()

+--------------------+---------+---------------------+------------------------+------------------+-----------------+
|              Filmes|orcamento|bilheteria_eua_canada|bilheteria_outros_paises|bilheteria_mundial|Ano de Bilheteria|
+--------------------+---------+---------------------+------------------------+------------------+-----------------+
|Toy Story - Um Mu...| 3,00E+07|            191796233|               181757800|         373554033|             2023|
|      Vida de Inseto| 1,20E+08|            162798565|               200460294|         363258859|             2023|
|         Toy Story 2| 9,00E+07|            245852179|               251522597|         497374776|             2023|
|      Monstros S. A.| 1,15E+08|            289916256|               342400393|         632316649|             2023|
|     Procurando Nemo| 9,40E+07|            339714978|               531300000|         871014978|             2023|
|        Os Incríveis| 9,20E+07|            261441092|               370165621|         631606713|             2023|
|              Carros| 1,20E+08|            244082982|               217900167|         461983149|             2023|
|         Ratatouille| 1,50E+08|            206445654|               417280431|         623726085|             2023|
|              WALL-E| 1,80E+08|            223808164|               297503696|         521311860|             2023|
|Up - Altas Aventuras| 1,75E+08|            293004164|               442094918|         735099082|             2023|
|         Toy Story 3| 2,00E+08|            415004880|               651964823|        1066969703|             2023|
|            Carros 2| 2,00E+08|            191452396|               368400000|         559852396|             2023|
|             Valente| 1,85E+08|            237283207|               301700000|         538983207|             2023|
|Universidade Mons...| 2,00E+08|            268492764|               475066843|         743559607|             2023|
|      Divertidamente| 1,75E+08|            356461711|               501149463|         857611174|             2023|
|    O Bom Dinossauro| 1,75E+08|            123087120|               209120551|         332207671|             2023|
|     Procurando Dory| 2,00E+08|            486295561|               542275328|        1028570889|             2023|
|            Carros 3| 1,75E+08|            152901115|               231029541|         383930656|             2023|
|Viva - A Vida é U...| 1,75E+08|            209726015|               597356181|         807082196|             2023|
|      Os Incríveis 2| 2,00E+08|            608581744|               634223615|        1242805359|             2023|
+--------------------+---------+---------------------+------------------------+------------------+-----------------+
only showing top 20 rows

In [ ]:
df.withColumn('Bilheteria', concat_ws(' - ','Filmes','orcamento')).show(6, truncate=False)

In [60]:
df = df.orderBy(col("Filmes"))

df.show(truncate=False)

+-----------------------------------+---------+---------------------+------------------------+------------------+-----------------+
|Filmes                             |orcamento|bilheteria_eua_canada|bilheteria_outros_paises|bilheteria_mundial|Ano de Bilheteria|
+-----------------------------------+---------+---------------------+------------------------+------------------+-----------------+
|Carros                             |1,20E+08 |244082982            |217900167               |461983149         |2023             |
|Carros 2                           |2,00E+08 |191452396            |368400000               |559852396         |2023             |
|Carros 3                           |1,75E+08 |152901115            |231029541               |383930656         |2023             |
|Divertidamente                     |1,75E+08 |356461711            |501149463               |857611174         |2023             |
|Dois Irmãos: Uma Jornada Fantástica|1,75E+08 |61555145             |80394976                |141950121         |2023             |
|Monstros S. A.                     |1,15E+08 |289916256            |342400393               |632316649         |2023             |
|O Bom Dinossauro                   |1,75E+08 |123087120            |209120551               |332207671         |2023             |
|Os Incríveis                       |9,20E+07 |261441092            |370165621               |631606713         |2023             |
|Os Incríveis 2                     |2,00E+08 |608581744            |634223615               |1242805359        |2023             |
|Procurando Dory                    |2,00E+08 |486295561            |542275328               |1028570889        |2023             |
|Procurando Nemo                    |9,40E+07 |339714978            |531300000               |871014978         |2023             |
|Ratatouille                        |1,50E+08 |206445654            |417280431               |623726085         |2023             |
|Soul                               |1,75E+08 |NA                   |135435315               |135435315         |2023             |
|Toy Story - Um Mundo de Aventuras  |3,00E+07 |191796233            |181757800               |373554033         |2023             |
|Toy Story 2                        |9,00E+07 |245852179            |251522597               |497374776         |2023             |
|Toy Story 3                        |2,00E+08 |415004880            |651964823               |1066969703        |2023             |
|Toy Story 4                        |2,00E+08 |434038008            |639356585               |1073394593        |2023             |
|Universidade Monstros              |2,00E+08 |268492764            |475066843               |743559607         |2023             |
|Up - Altas Aventuras               |1,75E+08 |293004164            |442094918               |735099082         |2023             |
|Valente                            |1,85E+08 |237283207            |301700000               |538983207         |2023             |
+-----------------------------------+---------+---------------------+------------------------+------------------+-----------------+
only showing top 20 rows